@model Core.Dtos.AdminPanelDaysDto

<div class="container4">
    <h1 class="fs-1 text-center">Команда: @Model.TeamName</h1>
    <h1 class="fs-4 text-center">Выберите день для изменения</h1>
    <hr class="divider">
    <div class="container2">

        @for (var i = Model.StartDayNumber; i < Model.CurrentDay.Number; i++)
        {
            <div class="checkboxCardsMargin">
                <div class="checkboxCardContainer previousDayStyle">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">День @i</h2>
                    </div>
                </div>
            </div>
        }

        <div class="checkboxCardsMargin">
            <div class="checkboxCardContainer currentDayStyle">
                <div class="checkboxCardContent">
                    <h2 class="checkboxCardNumber">День @Model.CurrentDay.Number</h2>
                    <img class="restart" src="/images/restart_button.svg" alt="restart">
                    <img class="settings" src="/images/settings_button.svg" alt="settings">
                </div>
            </div>
        </div>

        @for (var i = Model.CurrentDay.Number + 1; i < Model.FinishDayNumber + 1; i++)
        {
            <div class="checkboxCardsMargin">
                <div class="checkboxCardContainer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">День @i</h2>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = setupHubConnection(new signalR.HubConnectionBuilder(), "@Model.SessionId", "@Model.TeamId", false);
    connection.start();
    
    connection.on("NotifyDayFinished", function (sessionId, teamId) {
        if (sessionId === "@Model.SessionId" && teamId === "@Model.TeamId") {
            window.location.reload();
        }
    });
    
    document.getElementsByClassName("restart")[0].addEventListener('click', function () {
        fetch("/@Model.SessionId/@Model.TeamId/api/restart-day", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                SessionId: "@Model.SessionId",
                TeamId: "@Model.TeamId",
                DayNumber: @Model.CurrentDay.Number,
            })
        })
        .then(function () {
            connection.invoke("RollbackToDay", "@Model.SessionId", "@Model.TeamId", @Model.CurrentDay.Number)
            .then(function () {
                window.location.href = `/admin?sessionId=@Model.SessionId`;
            });
        });
    });

</script>