@using Domain
@using Domain.Game
@model WebApp.Models.MainMenuModel

<script>
    function redirectCreate() {
        redirect("create-menu");
    }
    function redirectJoin() {
        redirect("join-menu");
    }
    
    function redirect(endpoint) {
        const userName = document.getElementsByClassName("authorizationCommandName")[0].value.toString();
        if (userName.length === 0) {
            showMessage("Имя должно быть заполнено", MessageType.ERROR);
            return;
        }
        fetch(`/add-username?name=${userName}`)
            .then(() => {
                window.location.href = `/session/${endpoint}`
            });
    }
</script>

@* <script> *@
@*     document.addEventListener("resize", () => { *@
@*         const pageContainer = document.getElementsByClassName("authorizationContainer2")[0]; *@
@*         const authContainer = document.getElementsByClassName("authorizationContainer")[0]; *@
@*         const gamesContainer = document.getElementsByClassName("startedGamesContainer")[0]; *@
@*          *@
@*         if (pageContainer.style("width") <= 800) { *@
@*             authContainer.setAttribute("class", "centered"); *@
@*             gamesContainer.setAttribute("class", "centered"); *@
@*         } else if (authContainer.hasClass("centered")) { *@
@*             authContainer.removeClass("centered"); *@
@*             gamesContainer.removeClass("centered"); *@
@*         } *@
@*     }) *@
@* </script> *@

<div class="authorizationContainer2 centered-100">
    <div class="text-center authorizationContainer centered">
        <div class="authorizationHeader">
            <h1 class="display-3">getKanban</h1>
        </div>
        <div class="authorizationButtons">
            <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" value="@Model.UserName" placeholder="Ваше имя"/>
            <button class="authorizationButtonsTemplate authorizationButton" onclick="redirectCreate()">Создать игру</button>
            <button class="authorizationButtonsTemplate authorizationButton" onclick="redirectJoin()">Присоединиться к игре</button>
        </div>
    </div>

    @if (!Model.UserGames.IsNullOrEmpty())
    {
        <div class="startedGamesContainer centered">
            <h1 class="startedGamesHeader text-center fs-2">Ваши игры</h1>
            <div class="startedGamesScrollable">
                @foreach (var game in Model.UserGames)
                {
                    var gameStatus = game.GameSessionStatus switch
                    {
                        "Набор игроков" => "startedGameStyle1",
                        "В процессе" => "startedGameStyle2",
                        "Завершена" => "startedGameStyle3"
                    }; 
                    <div class="startedGame @gameStatus">
                        <p class="startedGameInfo left-top-position">@game.GameSessionName</p>
                        <p class="startedGameInfo left-bottom-position">Число команд: @game.TeamsCount</p>
                        <p class="startedGameInfo right-top-position">Ваша роль: @game.ParticipantRole</p>
                        <p class="startedGameInfo right-bottom-position">Статус игры: @game.GameSessionStatus</p>
                        <img src="~/images/enter.svg" width="40" height="40" id="@game.GameSessionId/@game.TeamId" class="startedGameInfo right-position @(game.ParticipantRole is ParticipantRole.Angel ? "angel" : "player")">
                    </div>
                }
            </div>
        </div>
    }
</div>

<script>
    const gameLinks = @Html.Raw(Json.Serialize(Model.UserGames.Select(x => $"{x.GameSessionId}/{x.TeamId}")));
    const statuses = @Html.Raw(Json.Serialize(Model.UserGames.Select(x => x.GameSessionStatus)));
    for (let i = 0; i < gameLinks.length; i++) {
        let button = document.getElementById(gameLinks[i]);
        let status = statuses[i];
        button.addEventListener('click', () => {
            if (status === `Набор игроков`) {
                window.location.href = `session/${gameLinks[i]}/lobby-menu`;
            } else {
                window.location.href = button.className.indexOf(`angel`) === -1 ? `/${gameLinks[i]}/step/1/0` : `/admin?sessionId=${gameLinks[i].split("/")[0]}`
            }
        });
    }
</script>