@model WebApp.Models.MainMenuModel

<script>
    function redirectCreate() {
        redirect("create-menu");
    }
    function redirectJoin() {
        redirect("join-menu");
    }
    
    function redirect(endpoint) {
        const userName = document.getElementsByClassName("authorizationCommandName")[0].value.toString();
        if (userName.length === 0) {
            showMessage("Имя должно быть заполнено", MessageType.ERROR);
            return;
        }
        fetch(`/add-username?name=${userName}`)
            .then(() => {
                window.location.href = `/session/${endpoint}`
            });
    }
</script>

<div class="text-center authorizationContainer centered-100">
    <div class="authorizationHeader">
        <h1 class="display-3">getKanban</h1>
    </div>
    <div class="authorizationButtons">
        <input type="text" class="text-center authorizationButtonsTemplate authorizationCommandName" value="@Model.UserName" placeholder="Ваше имя"/>
        <button class="authorizationButtonsTemplate authorizationButton" onclick="redirectCreate()">Создать игру</button>
        <button class="authorizationButtonsTemplate authorizationButton" onclick="redirectJoin()">Присоединиться к игре</button>
    </div>
    <div>
        @foreach (var game in Model.UserGames)
        {
            <p>@game.GameSessionName</p>
            <p>Число команд: @game.TeamsCount</p>
            <p>Ваша роль: @game.ParticipantRole</p>
            <p>Статус игры: @game.GameSessionStatus</p>
        }
    </div>
</div>