
@model Core.Dtos.GameSessionDto

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
    connection.on("NotifyJoined", function (userId, userName) {
        const playerElement = document.createElement("p");
        playerElement.setAttribute("class", "fs-6");
        playerElement.setAttribute("id", userId);
        const team = document.getElementsByClassName("commandEditorNamesContainer")[0];
        team.appendChild(playerElement);
        playerElement.textContent = userName;
    });
</script>



@* Header *@
<div class="commandEditorHeader text-center">
    <h1 class="display-4 fw-bold">getKanban: "@Model.Name"</h1>
</div>

@* Windows *@
<div class="commandEditorContainer centered-25">
    
    @* Command windows *@
    <div class="commandEditorLWindow commandEditorWindowsHeight commandEditorBorderStyle commandEditorBorderWidth commandEditorBorderRadius">
        
        @foreach (var team in Model.Teams)
        {
            @* Command window template *@
            <div class="commandEditorCommandContainer commandEditorBorderRadius">
            
                @* Command header container *@
                <div class="commandEditorHeaders text-center">
                
                    @* Command name and link for copy *@
                    <p class="fs-6">
                        @team.Name
                        <img src="images/copy_button.jpg" alt="copy" width="20" height="20">
                    </p>
                </div>

                @* Players in command *@
                <div class="commandEditorNamesContainer text-center" id=@team.Id>
                    <p class="fs-6">
                        @team.Participants.InviteCode
                    </p>
                    @foreach (var player in team.Participants.Users)
                    {
                        <p class="fs-6">@player.Name</p>
                    }
                </div>
            </div>
        }
    </div>

    @* Angels *@
    <div class="commandEditorSWindow commandEditorWindowsHeight commandEditorBorderStyle commandEditorBorderWidth commandEditorBorderRadius">
        
        @* Angels header container *@
        <div class="commandEditorHeaders text-center">
            @* Name and link for copy *@
            <p class="fs-6">
                Ангелы
                <img src="images/copy_button.jpg" alt="copy" width="20" height="20">
            </p>
        </div>

        @* Angels Name *@
        <div class="commandEditorNamesContainer text-center">
            <p class="fs-6">
                @Model.Angels.InviteCode
            </p>
            @foreach (var player in Model.Angels.Users)
            {
                <p class="fs-6">@player.Name</p>
            }
        </div>
    </div>
</div>

@* Start game button *@
<form class="text-center">
    @* asp-area="" asp-page="/Shared/JoinTeamSession" *@
    <button class="commandEditorButtonsTemplate authorizationButton">Начать игру</button>
</form>