@model WebApp.Controllers.DayStepsController.TicketCheckStepModel

<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>
<div class="container1">
    <h1 class="title">Проверьте корректность заполнения.
        Если вы ошиблись, вернитесь назад и скорректируйте выбор.</h1>
    <hr class="divider">
    <div class="container2">
        @foreach (var ticketId in Model.TicketIds)
        {
            <div class="checkboxCardsMargin">
                <div class="checkboxCardContainer">
                    <div class="checkboxCardContent">
                        <h2 class="checkboxCardNumber">@ticketId</h2>
                        <div class="lines">
                            <div class="line full"></div>
                            <div class="line half"></div>
                            <div class="line half"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <button class="stepControlButtons rightButton" id="prev">
        Назад
    </button>

    <button class="stepControlButtons rightButton" id="next">
        Далее
    </button>
</div>

<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = setupHubConnection(new signalR.HubConnectionBuilder());
    setSwitchEvent("prev", connection, "@Model.TeamId", 4, 1);
    setSwitchEvent("next", connection, "@Model.TeamId", 5, 0);
</script>