@using Core.Dtos.Containers.TeamMembers
@model WebApp.Models.DayStepModels.RoleUpdateStepModel

<meta charset="UTF-8">
<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th class="height-extra-small fs-5">За аналитиков</th>
            <th class="height-extra-small fs-5">За разработчиков</th>
            <th class="height-extra-small fs-5">За тестировщиков</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            @foreach (var role in new[] { TeamRoleDto.Analyst, TeamRoleDto.Programmer, TeamRoleDto.Tester })
            {
                <td class="dropzone" id="@Html.Raw(role.ToString())">
                    @foreach (var member in Model.TeamMemberDtos.Where(x => x.InitialRole == role))
                    {
                        <div class="draggable" draggable="true" id="@member.Id">
                            <div class="textContainer">
                                <div class="text fs-6 fw-bolder">
                                    @{
                                        switch (role)
                                        {
                                            case TeamRoleDto.Analyst:
                                                <text>Аналитик</text>
                                                break;
                                            case TeamRoleDto.Programmer:
                                                <text>Разработчик</text>
                                                break;
                                            case TeamRoleDto.Tester:
                                                <text>Тестировщик</text>
                                                break;
                                        }
                                    }
                                </div>
                                <div class="lines">
                                    <div class="line full"></div>
                                    <div class="line half"></div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            }
        </tr>
        </tbody>
    </table>
</div>

<button class="stepControlButtons position-relative rightButton" id="roll">
    <p class="fs-6">Бросить кубики</p>
</button>

<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = setupHubConnection(new signalR.HubConnectionBuilder(), "@Model.GameSessionId", "@Model.TeamId");
    document.getElementById("roll").addEventListener('click', function () { 
        fetch(`/@Model.GameSessionId/@Model.TeamId/step/roll`)
            .then(function (request) {
                connection.invoke("ChangePage", "@Model.GameSessionId", "@Model.TeamId", 2, 0)
                    .then(function () {
                        window.location.href = `/@Model.GameSessionId/@Model.TeamId/step/2/0`;
                    });
            }) 
    });
        
    connection.on("NotifyUpdateRole", function (teamMemberId, roleTo) {
        const draggable = document.getElementById(teamMemberId.toString());
        document.getElementById(roleTo).appendChild(draggable);
    });
    
    const draggables = document.getElementsByClassName('draggable');
    for (let draggable of draggables) {
        draggable.addEventListener('dragend', function () {
            const teamMemberId = draggable.id;
            const roleTo = draggable.parentElement.id.toString();
            fetch("/@Model.GameSessionId/@Model.TeamId/step/save-roles-transformation", {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify([teamMemberId, roleTo])
            }).then(function () {
                connection.invoke("UpdateRole", "@Model.GameSessionId", "@Model.TeamId", parseInt(teamMemberId), roleTo);
            });
        });
    }
</script>