@using Core.Dtos.DayStatistics
@model WebApp.Models.DayStepModels.CfdGraphStepModel

<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>

@functions
{
    private void RenderDiagram()
    {
        var dayStatistics = Model.TeamStatistic.DayStatistics;
        var maxDayNumber = dayStatistics.Select(t => t.DayNumber).Max();
        var rowsForCfd = new[]
            {
                "[\"День\", \"В аналитике\", \"В разработке\", \"В тестировании\", \"Готово к поставке\", \"Поставлено\"]",
                "[8,2,4,4,1,0]"
            }
            .Concat(dayStatistics.Select(CfdStatisticToString));
        var tableForCfd = $"[{string.Join(",", rowsForCfd)}]";

        var ticketsReleased = dayStatistics.SelectMany(d => d.TicketsReleased).ToArray();
        var rowsForControlDiagram = new[] { "[\"Номер задачи\"", "\"За сколько поставили\"]" }
            .Concat(ticketsReleased.Select((ticket, i) => $"[{i}, {ticket.releaseDay - ticket.takingDay}]"));
        var tableForDiagram = $"[{string.Join(",", rowsForControlDiagram)}]";

        var ticketsCountPerWorkDaysCount = dayStatistics
            .SelectMany(d => d.TicketsReleased)
            .GroupBy(t => t.releaseDay.Value - t.takingDay)
            .Select(t => (t.Key, t.Count()))
            .ToArray();
        var maxWorkDays = ticketsCountPerWorkDaysCount.Select(t => t.Key).Max();
        var rowsForDistributionDiagram = new[] { "[\"Дней в работе\"", "\"Кол-во задач\"]" }
            .Concat(ticketsCountPerWorkDaysCount.Select(g => $"[{g.Key}, {g.Item2}]"));
        var tableForDistributionDiagram = $"[{string.Join(",", rowsForDistributionDiagram)}]";

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawCharts);

          function drawCharts() {
            const dataForCfd = google.visualization.arrayToDataTable(@Html.Raw(tableForCfd));
            const optionsForCfd = {
              title: 'Кумулятивная диаграмма',
              hAxis: {title: 'День', ticks: @Html.Raw($"[{string.Join(",", Enumerable.Range(8, Math.Max(18, maxDayNumber) - 7))}]"), minValue: 8, maxValue: @Math.Max(18, maxDayNumber) },
              vAxis: {minValue: 0},
              isStacked: true
            };

            const dataForControlDiagram = google.visualization.arrayToDataTable(@Html.Raw(tableForDiagram));
            const optionsForControlDiagram = {
                title: 'Контрольная диагамма',
                hAxis: {title: 'Поставленные задачи (в порядке релиза)', ticks: @Html.Raw($"[{string.Join(",", Enumerable.Range(0, Math.Max(10, ticketsReleased.Length) + 1))}]"), minValue: 0, maxValue: @Math.Max(10, ticketsReleased.Length)},
                vAxis: {title: 'За сколько поставили', minValue: 0},
                legend: { position: "none" },
            };

            const dataForDistributionDiagram = google.visualization.arrayToDataTable(@Html.Raw(tableForDistributionDiagram));
            const optionsForDistributionDiagram = {
                title: 'Распределение времени выполнения',
                hAxis: {title: 'За сколько поставили', ticks: @Html.Raw($"[{string.Join(",", Enumerable.Range(0, Math.Max(10, maxWorkDays) + 1))}]"), minValue: 0, maxValue: @Math.Max(10, maxWorkDays)},
                vAxis: {title: 'Кол-во поставленных задач', minValue: 0},
                legend: { position: "none" },
            };

            const cfdChart = new google.visualization.AreaChart(document.getElementById('cfd'));
            cfdChart.draw(dataForCfd, optionsForCfd);
            
            const controlChar = new google.visualization.AreaChart(document.getElementById('control-diagram'));
            controlChar.draw(dataForControlDiagram, optionsForControlDiagram);

            const distributionDiagram = new google.visualization.ColumnChart(document.getElementById('distribution-diagram'));
            distributionDiagram.draw(dataForDistributionDiagram, optionsForDistributionDiagram);
          }
        </script>
    }

    private static string CfdStatisticToString(DayStatisticDto t)
    {
        return $"[{t.DayNumber}," +
               $"{t.CfdStatistic.WithAnalysts}," +
               $"{t.CfdStatistic.WithProgrammers}," +
               $"{t.CfdStatistic.WithTesters}," +
               $"{t.CfdStatistic.ToDeploy}," +
               $"{t.CfdStatistic.Released}]";
    }
}

<div class="diagram-container" style="width: 75%; height: 100%; display: flex; flex-direction: column;">
    <div id="cfd" style="width: 100%; height: 33%;"></div>
    <div id="control-diagram" style="width: 100%; height: 33%;"></div>
    <div id="distribution-diagram" style="width: 100%; height: 33%;"></div>
</div>
@{
    RenderDiagram();
}
<button class="stepControlButtons position-relative rightButton" id="next">
    <p class="fs-6">Далее</p>
</button>

<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = setupHubConnection(new signalR.HubConnectionBuilder(), "@Model.GameSessionId", "@Model.TeamId");
    setSwitchEvent("next", connection, "@Model.GameSessionId", "@Model.TeamId", 7, 0);
    setRollbackEvent(connection);
</script>