@using Core.Dtos.Containers.RollDice
@using Core.Dtos.Containers.TeamMembers
@model WebApp.Models.DayStepModels.RollDicesStepModel

<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>

@functions
{
    private IEnumerable<string> SelectScores(TeamRoleDto currentRole)
    {
        var rolls = GetDiceRollResultsByCurrentRole(currentRole).ToList();
        var sum = rolls.Sum(t => t.Scores);
        return [sum.ToString()];
    }

    private IEnumerable<DiceRollResultDto> GetDiceRollResultsByCurrentRole(TeamRoleDto currentRole) =>
        Model.RollDiceContainerDto.DiceRollResults
            .Where(t => t.CurrentRole == currentRole);
}

<div class="main-container">

    <h1 class="title">Кубик брошен.</h1>
    <h1 class="title">Уменьшите работы в тикетах соответственно таблице</h1>
    <hr class="divider">

    <div class="main-container2">
        <!-- Таблица, реализованная через div -->
        <div class="role-table">
            <!-- Заголовок таблицы -->
            <div class="role-table-header">
                <div class="role-table-header-cell">Роль</div>
                <div class="role-table-header-cell">Сумма работ</div>
            </div>
            <!-- Строки таблицы -->
            <div class="role-table-row">
                <div class="role-table-cell">Аналитики</div>
                <div class="role-table-cell">
                    @foreach (var s in SelectScores(TeamRoleDto.Analyst))
                    {
                        <div>@s</div>
                    }
                </div>
            </div>
            <div class="role-table-row">
                <div class="role-table-cell">Разработчики</div>
                <div class="role-table-cell">
                    @foreach (var s in SelectScores(TeamRoleDto.Programmer))
                    {
                        <div>@s</div>
                    }
                </div>
            </div>
            <div class="role-table-row">
                <div class="role-table-cell">Тестировщики</div>
                <div class="role-table-cell">
                    @foreach (var s in SelectScores(TeamRoleDto.Tester))
                    {
                        <div>@s</div>
                    }
                </div>
            </div>
        </div>

        <!-- Элемент справа -->
        <div class="right-element">
            <h1 class="fs-4 text-center">
                Доска
            </h1>

            <div class="info height-small centered-25">
                <p class="fs-5 fw-normal">
                    1) Остатки работ можно потратить в течение дня. Имейте в виду, что между днями неиспользованные работы сгорают.
                </p>
                <p class="fs-5 fw-normal">
                    2) При необходимости, переместите новые тикеты (проверьте, чтоб соблюдалось ограничение WIP).
                </p>
                <p class="fs-5 fw-normal">
                    3) Потратьте остаток работ на другие тикеты.
                </p>
            </div>
        </div>
    </div>

</div>

<button class="stepControlButtons rightButton" id="next">
    Далее
</button>

<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = setupHubConnection(new signalR.HubConnectionBuilder(), "@Model.GameSessionId", "@Model.TeamId");
    setSwitchEvent("next", connection, "@Model.GameSessionId", "@Model.TeamId", 3, 0);
</script>