@model WebApp.Models.DayStepModels.StepModel

<div class="stepHeader">
    <h1 class="fs-1 fw- text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>

<div class="container-1 height-small centered-100">
    <div class="infoContainer height-small">
        <div class="info centered-50">
            <p class="fs-5 fw-normal">Хотите изменить распределение членов команды по функциям?</p>
        </div>
    </div>

    <button class="stepControlButtonsNonGlobal position-relative leftButtonNonGlobal" id="roll">
        <p class="fs-6">Нет, бросить кубик</p>
    </button>

    <button class="stepControlButtonsNonGlobal position-relative rightButtonNonGlobal" id="change">
        <p class="fs-6">Изменить</p>
    </button>
</div>

<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script type="module">
    if (await checkPageAvailable("@Model.GameSessionId", "@Model.TeamId", "roll") !== true ||
        await checkPageAvailable("@Model.GameSessionId", "@Model.TeamId", "update-role") !== true
    ) {
        const response = await fetch(`/@Model.GameSessionId/@Model.TeamId/api/get-current-step`);
        const page = await response.text();
        console.log(page);
        window.location.href = `/@Model.GameSessionId/@Model.TeamId/step/${page}`;
    }
    
    const connection = setupHubConnection(new signalR.HubConnectionBuilder(), "@Model.GameSessionId", "@Model.TeamId");
    document.getElementById("roll").addEventListener('click', () => {
        fetch(`/@Model.GameSessionId/@Model.TeamId/api/roll`)
            .then(() => {
                connection.invoke("ChangePage", "@Model.GameSessionId", "@Model.TeamId", 2, 0)
                    .then(() => {
                        window.location.href = `/@Model.GameSessionId/@Model.TeamId/step/2/0`;
                    });
            })
    });
    setSwitchEvent("change", connection, "@Model.GameSessionId", "@Model.TeamId", 1, 2);
    setRollbackEvent(connection);
</script>
