@model WebApp.Models.DayStepModels.StepModel

<div class="stepHeader">
    <h1 class="fs-1 text-center">Команда @Html.Raw(Model.TeamName). День @Model.DayNumber</h1>
</div>

<div class="container-1 height-small centered-100">
    <div class="infoContainer2 height-small creative-border-3 creative-border-rad-40">
        <div class="info centered-50">
            <p class="fs-5 fw-normal">Сейчас выбрано распределение по умолчанию. Хотите изменить распределение членов команды по функциям?</p>
        </div>
    </div>

    <button class="stepControlButtonsNonGlobal position-relative leftButtonNonGlobal" id="roll">
        <p class="fs-6">Нет, бросить кубик</p>
    </button>

    <button class="stepControlButtonsNonGlobal position-relative rightButtonNonGlobal" id="change">
        <p class="fs-6">Изменить</p>
    </button>
</div>

<script src="~/js/fetchJSON.js"></script>
<script src="~/js/page-switch.js"></script>
<script src="~/js/setup-hub-connection.js"></script>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script type="module">
    const connection = setupHubConnection(new signalR.HubConnectionBuilder(), "@Model.GameSessionId", "@Model.TeamId");
    
    if (await checkPageAvailable("@Model.GameSessionId", "@Model.TeamId", "roll") !== true ||
        await checkPageAvailable("@Model.GameSessionId", "@Model.TeamId", "update-role") !== true
    ) {
        const response = await fetch(`/@Model.GameSessionId/@Model.TeamId/api/get-current-step`);
        const page = await response.text();
        console.log(page);
        const pageNumber = parseInt(page.split('/')[0]);
        const stageNumber = parseInt(page.split('/')[1]);
        await connection.invoke("ChangePage", "@Model.GameSessionId", "@Model.TeamId", pageNumber, stageNumber);
        window.location.href = `/@Model.GameSessionId/@Model.TeamId/step/${page}`;
    }
    
    document.getElementById("roll").addEventListener('click', async () => {
        await fetchJSON(`/@Model.GameSessionId/@Model.TeamId/api/roll`);
        await connection.invoke("ChangePage", "@Model.GameSessionId", "@Model.TeamId", 2, 0);
        window.location.href = `/@Model.GameSessionId/@Model.TeamId/step/2/0`;
    });
    setSwitchEvent("change", connection, "@Model.GameSessionId", "@Model.TeamId", 1, 2);
    setRollbackEvent(connection);

</script>