@using Domain.Game
@model Core.Dtos.TicketsViewDto

@functions
{
    private void FillTickets(IEnumerable<Ticket> tickets, string cardStyle, string containerName)
    {
        <div class="@Html.Raw($"checkboxContainer{Model.PageType}Version")">
            <h1 class="title">@containerName</h1>
            <hr class="divider">

            @foreach (var ticket in tickets)
            {
                var ticketId = ticket.id;
                <div class="checkboxCardsMargin">
                    <input type="checkbox" class="checkboxCardInput" id="@ticketId" checked="@ticket.IsTaken(Model.CurrentDayNumber)">
                    <label for="@ticketId" class="checkboxCardContainer @cardStyle cursorPointer">
                        <div class="checkboxCardContent">
                            <h2 class="checkboxCardNumber">@ticketId</h2>
                            <div class="lines">
                                <div class="line full"></div>
                                <div class="line half"></div>
                                <div class="line half"></div>
                            </div>
                        </div>
                    </label>
                </div>
            }
        </div>
    }
}

<div class="container1">
    <h1 class="title">Выберите тикеты, которые были сегодня взяты в очередь</h1>
    <hr class="divider">
    <div class="container2">

        @if (Model.TicketIds.Any(x => x.id.Contains("S")))
        {
            FillTickets(
                Model.TicketIds.Where(x => x.id.Contains("S")),
                "checkboxCardStyle1", 
                "Обычные");
        }

        @if (Model.TicketIds.Any(x => x.id.Contains("I")))
        {
            FillTickets(
                Model.TicketIds.Where(x => x.id.Contains("I")),
                "checkboxCardStyle2", 
                "Инфраструктурные");
        }

        @if (Model.TicketIds.Any(x => x.id.Contains("E") || x.id.Contains("F")))
        {
            FillTickets(
                Model.TicketIds.Where(x => x.id.Contains("E") || x.id.Contains("F")),
                "checkboxCardStyle3",
                "Срочные");
        }
    </div>

    <button class="stepControlButtons rightButton" id="prev">
        Назад
    </button>

    <button class="stepControlButtons rightButton" id="next">
        Далее
    </button>
</div>

<script src="/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/lobbyHub").build();
    connection.start()
        .then(function () {
            connection.invoke("Join", "@Model.SessionId");
        });
    connection.on("NotifyPageChange", function (page, stage) {
        window.location.href = `/step/${page}/${stage}`;
    });
    connection.on("NotifyUpdateTicketChoice", function (ticketId) {
        const ticket = document.getElementById(ticketId);
        ticket.checked = !ticket.checked;
    });

    const checkboxes = document.getElementsByClassName('checkboxCardInput');
    for (let checkbox of checkboxes) {
        checkbox.addEventListener('change', function () {
            const remove = !this.checked;
            const ticketId = this.parentElement.getElementsByClassName('checkboxCardNumber')[0].textContent;
            console.log(ticketId);
            fetch("/step/update-sprint-backlog", {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ ticketId: ticketId, remove: remove })
            }).then(function () {
                connection.invoke("UpdateTicketChoice", "@Model.SessionId", ticketId);
            });
        });
    }

    document.getElementById("prev").addEventListener('click', function () {
        connection.invoke("ChangePage", "@Model.SessionId", 5, 0)
            .then(function () {
                window.location.href = `/step/5`;
            });
    });
    document.getElementById("next").addEventListener('click', function () {
        connection.invoke("ChangePage", "@Model.SessionId", 5, 2)
            .then(function () {
                window.location.href = `/step/5/2`;
            });
    });
</script>